<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.flying.identity.mapper.TokenMonitorMapper">
    <sql id="whereClause">
        <where>
            <if test="tokenId != null and tokenId != ''">
                AND token_id = #{tokenId}
            </if>
            <if test="userId != null and userId != ''">
                AND user_id = #{userId}
            </if>
            <if test="clientId != null and clientId != ''">
                AND client_id = #{clientId}
            </if>
            <if test="eventType != null and eventType != ''">
                AND event_type = #{eventType}
            </if>
            <if test="startTime != null">
                AND event_time >= #{startTime}
            </if>
            <if test="endTime != null">
                AND event_time &lt;= #{endTime}
            </if>
        </where>
    </sql>

    <select id="countByParams" resultType="long">
        SELECT count(*) FROM token_monitor
        <include refid="whereClause"/>
    </select>

    <select id="selectByParams" resultType="cn.flying.identity.dto.TokenMonitor">
        SELECT * FROM token_monitor
        <include refid="whereClause"/>
        ORDER BY event_time DESC
        LIMIT #{offset}, #{limit}
    </select>
</mapper>